<!DOCTYPE html>
<html lang="en">
<head>
	<title>La Casa - Real Estate HTML5 Home Page Template</title>
	<meta charset="utf-8">
	
	
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">

</head>
<body>

	<section class="hero">
		<header>
			<div class="wrapper">
				<a href="#" class="hamburger"></a>
				<nav>
					<a href="./login" class="login_btn" action="/login" method="post">Sign in</a>
                    <a href="./register" class="login_btn" action="/login" method="post">Sign up</a>
				</nav>
			</div>
		</header><!--  end header section  -->

			<section class="caption">
				<h2 class="caption">Find You Dream Home</h2>
			</section>
	</section><!--  end hero section  -->

</body>
</html>