<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,cyrillic'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./css/404.css">
    </style>
</head>

<body>
    <div class="content">
        <a href="/">Перейти на головну сторінку</a>
    </div>
</body>

</html>